<%= render :partial => '/shared/flash_notice' %>
<div class = "container_12"> 
	<div class = "grid_3">       
		<h2>Current Forms</h2>
		<div class="buttons">
			<%= link_to image_tag('/images/icons/email_add.png', :alt => 'New') + "Add a new form", :controller => 'admin_dynamic_forms', :action => 'new' %>
			<hr />
		</div>
	</div>
	<div class = "clear">&nbsp;</div>
	<br />
	<div class = "grid_6">
		<table class="list_form">
			<thead>
				<tr>
					<th>Form Name</th>	
					<th>Enabled?</th>
					<th>Last Updated</th>
					<th>Edit</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<% for form in @forms %>
				<tr class="<%= cycle('odd','even', :name => "forms") %>">
					<td><%= form.title %></td>
					<td><%= form.enabled %></td>
					<td><%= form.updated_at%></td>
					<td class="action" style = "text-align: center">
						<%= link_to image_tag('/images/icons/email_edit.png', :alt => "Edit"), 
						:controller => 'admin_dynamic_forms', :action => 'edit', :id => form.id %>
					</td>
					<td class="action" style = "text-align: center">
						<%= link_to image_tag('/images/icons/email_delete.png', :alt => "Remove"), 
						:controller => 'admin_dynamic_forms', :action => 'destroy', :id => form.id, 
						:confirm => "Are you sure you want to delete this email campaign? This action cannot be undone!", :method => :delete %>
					</td>
				</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
</div>

